<h1>Groups</h1>

<div class="group-links">
  <%= link_to "Add Another Group", new_group_path %>
</div>

<% if @groups.length > 0 %>
  <ul class="list">
    <% @groups.each do |group| %>
      <li class="list-item"><%= link_to group.name, group %>
        <div class="crud-btns">
          <%= link_to "Edit", edit_group_path(group)%>
          <%= link_to "Delete", group, method: :delete %>
        </div>
      </li>
      <% end %>
  </ul>
<% else %>
  <p>You haven't created any groups yet!</p>
<% end %>