<h1><%= @group.name %></h1>
<%= link_to "Return to Groups", groups_path%>
<%= link_to "Add Item", new_group_item_path(group_id: @group.id)%>
<% if @group.items.length > 0 %>
  <ul>
    <% @group.items.each do |item| %>
    <li><%= item.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>This group has no items!</p>
<% end %>