// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header {
  flex: 5;
  color: #f4f4f4;
}

.header h1 {
  background: #3E4F89;
}

