// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header {
  flex: 5;
  color: #f4f4f4;
}

.header h1 {
  background: #3e4f89;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card {
  background: #f4f4f4;
  padding: 2em;
}

.btn {
  padding: 0.25em 1em;
}
