.sign-out {
  flex: 4;
  margin: 0.75em 1em;
  background: #3e4f89;
}

.sign-out button {
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 1em;
  color: #444;
  background: #ebedf3;
}

.sign-out button:hover {
  cursor: pointer;
}

#app-title {
  font-size: 3em;
}

#layout-nav {
  background: #3e4f89;
}

.item-count {
 position: relative;
 bottom: .5em;
 border-radius: 100%;
 padding: .25em .5em;
 background-color: red;
}
