.container {
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  padding: 0.5em 0;
  background: #3e4f89;
}

.sign-out {
  flex: 4;
  margin: 0.75em 1em;
  background: #3e4f89;
}

.sign-out button {
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 1em;
  color: #444;
  background: #ebedf3;
}

.sign-out button:hover {
  cursor: pointer;
}
