.container {
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  padding: .5em 0;
  background: #3E4F89;
}

.sign-out {
  flex: 4;
  margin: .75em 1em;
  background: #3E4F89;
}

.sign-out button {
  border-radius: 5px;
  font-size: 1em;
  padding: .5em 1em;
  color: #444;
  background: #EBEDF3;
}

.sign-out button:hover {
  cursor: pointer;
}


